:root {
    --main-color: #22223b;
    --primary-color: #4a4e69;
    --sub-color: #9a8c98;
    --accent-color-1: #c9ada7;
    --accent-color-2: #f2e9e4;
}

.container {
    color: black;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--accent-color-2);
}
/* navigation styling */

.navigation ul {
    list-style-type: none;
    background-color: var(--main-color);
    
    font-family: 'Poppins', sans-serif;
}

li a {
    color: var(--accent-color-2);
    text-decoration: none;
}

.navigation ul li a:hover {
    background-color: var(--primary-color);
}


/* navigation styling end */

h1 {
    background-color: var(--sub-color);
    color: var(--accent-color-2);
    border-radius: 50px;
    margin: 0;
}

.grid-item-1 {
    font-size: 5em;
    background-color: var(--primary-color);
    color: var(--accent-color-2);
}
.portrait {
    border-radius: 10%;
}

/*
  .grid-item-3 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
  .grid-item-4 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }*/

.card {
    background-color: var(--accent-color-1);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    transition-duration: 0.3s;
}

.grid-item-6 p a {
    text-decoration: none;
    color: black;
}

.grid-item-6 p a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    transition-duration: .3s;
}

.grid-item-7 p a {
    text-decoration: none;
    color: black;
}

.grid-item-7 p a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    transition-duration: .3s;
}

.grid-item-8 p a {
    text-decoration: none;
    color: black;
}

.grid-item-8 p a:hover {
    background-color: var(--primary-color);
    color: var(--accent-color-2);
    transition-duration: .3s;
}

.grid-item-10 {
    background-color: var(--primary-color);
}
footer {
    background-color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

.footer-nav img {
    color: gray;
}

