.container {
    color: black;
    font-family: 'Poppins', sans-serif;
}

/* navigation & dropdown styling */

.navigation ul {
    list-style-type: none;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

li a, .dropbtn {
    color: black;
    text-decoration: none;
}

.navigation ul li a:hover, .dropdown:hover .dropbtn {
    background-color: gray;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}

.dropdown-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* navigation & dropdown styling end */

#main header h1 {
    color: black;
    background-color: white;
}

.grid-item {
    background-color: white;
}

.grid-item-1 {
    font-size: 5em;
}

.grid-item-2 {
    background-color:black;
}

/*
  .grid-item-3 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
  }
  .grid-item-4 {
    grid-column: 2 / span 2;
    grid-row: 3 / span 1;
  }*/

.grid-item-5 {
    font-size: 150%;
}

.grid-item-6 p a {
    text-decoration: none;
    color: black;
}

.grid-item-6 p a:hover {
    background-color: gray;
}

.grid-item-7 p a {
    text-decoration: none;
    color: black;
}

.grid-item-7 p a:hover {
    background-color: gray;
}

.grid-item-8 p a {
    text-decoration: none;
    color: black;
}

.grid-item-8 p a:hover {
    background-color: gray;
}

.grid-item-9 {
    font-size: 150%;
}

.grid-item-10 {
    background-color: white;
}

.footer-nav img {
    color: gray;
}

